@font-face {
    font-family: poppins;
    src: url("../../fonts/Poppins-Regular.ttf");
}

.container {
    background: rgb(174,235,180);
    background: linear-gradient(267deg, rgb(111, 143, 175) 0%, #06c 100%);
    width: 100dvw;
    height: 100dvh;
    font-family: poppins;
}

.container > a {
    color: white;
    text-decoration: none;
    padding: 20px;
    padding-left: 20px;
    display: block;
}

.container > div {
    background-color: white;
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 50px;
}

.container > div > h1 {
    text-align: center;
    margin: 0;
}

.container > div > form > input {
    display: block;
    margin: auto;
    box-sizing: border-box;
    width: 80%;
    margin-top: 10px;
}

.container > div > form > input[type="submit"] {
    width: 80%;
    margin-top: 20px;
    display: block;
}

@media screen and (max-width: 1024px) {
    
    .container > div {
        width: 90%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container > div > form > input {
        width: 90% !important;
    }

}