@font-face {
    font-family: montserrat;
    src: url("../../fonts/Montserrat-Regular.ttf");
}

.container {
    font-family: montserrat;
}

.container > h1 {
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

.left {
    width: 40%;
}

.left > h1 {
    font-size: 55px;
}

.left > p {
    color: grey;
    font-size: 20px;
}

.left > a {
    background-color: #06c;
    color: white;
    padding: 7px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    display: block;
    width: max-content;
    margin-top: 30px;
    font-size: 20px;
}

.left > a:hover {
    opacity: .9;
}

.img{
    width: 40%;
    height: auto;
}

.avantages {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 150px;
    background-color: #f1f1f1;
    column-gap: 50px;
    align-items: center;
    margin-top: -5px;
}

.avantages > h1 {
    width: 30%;
    text-align: right;
}

.avantages > h1 > b {
    color: #06c
}

.card{
    width: 20%;
    height: auto;
    max-height: 200px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}


.card > h2 {
    margin: 0;
}

.card > p {
    color: grey;
}

.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.mobileDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.left > h1 {
    font-size: 50px;
}

.pricingContainer {
    background-color: #171717;
    padding: 100px;
    padding-bottom: 150px;
}

.pricingContainer > h1 {
    text-align: center;
    font-size: 55px;
    margin: 0;
    margin-bottom: 80px;
    color: white;
}

.pricing {
    display: flex;
    justify-content: center;
    column-gap: 100px;
}

.pricing > div {
    width: 300px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.pricing > div > h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 40px;
}

.pricing > div > h2 {
    margin: 0;
    font-size: 50px;
    color: #06c;
}

.pricing > div > h2 > b {
    color: grey;
    font-size: 18px;
}

.pricing > div > p {
    line-height: 25px;
    color: silver;
}
.pricing > div > p > b {
    color: rgb(22, 22, 22);
}

.pricing > div > a {
    border:2px solid #06c;
    color: #06c;
    padding: 7px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    display: block;
    width: max-content;
    margin-top: 30px;
    font-size: 16px;
}

.pricing > div > a:hover {
    opacity: .7;
}

footer {
    padding: 20px;
}

footer > a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: grey;
}


@media screen and (max-width: 1024px) {

    .container > h1 {
        text-align: center;
    }

    .first {
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .left {
        width: 100%;
        text-align: center;
    }

    .left > a {
        margin: auto;
    }

    .img {
        width: 90%;
    }

    .avantages {
        flex-direction: column;
        row-gap: 40px;
    }

    .avantages > h1 {
        width: 90%;
        text-align: center;
    }

    .card {
        width: 50%;
    }

    .mobileDiv {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .pricingContainer {
        padding-left: 0;
        padding-right: 0;
    }

    .pricing {
        flex-direction: column;
        row-gap: 30px;
        padding: 0;
    }

    .pricing > div {
        width: 80%;
        box-sizing: border-box;
        margin: auto;
        text-align: center;
    }

    .phone {
        width: 100%;
    }

    .pricing > div > a {
        margin: auto;
        margin-top: 30px;
    }

}