@font-face {
    font-family: poppins;
    src: url("../../fonts/Poppins-Regular.ttf");
}

.popup {
    width: 50dvw;
    height: max-content;
    max-height: 50%;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    overflow: scroll;
}

.popup > h1 {
    text-align: center;
}

.popup > div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}

.popup > div > div {
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    box-shadow: 0 0 2px silver;
    border-radius: 10px;
    align-items: center;
    flex: 1;
    min-width: max-content;
}

.shadow {
    width: 100dvw;
    height: 100dvh;
    background-color: #333;
    position: fixed;
    opacity: .4;
    z-index: 10;
    cursor: pointer;
}

.container {
    font-family: poppins;
}

.container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container > header > a {
    margin: 0;
    color: black;
    border: 3px solid black;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        opacity: .8;
    }

}


.container > header > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.container > header > div > h1 {
    margin: 0;
}

.container > header > div > img {
    width: 40px;
    height: 40px;
    transition: .3s;
}

.container > header > div > img:hover {
    transform: rotate(20deg);
    transition: .3s;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

.left {
    width: 50%;
}

.left > h1 {
    font-size: 55px;
}

.left > p {
    color: grey;
    font-size: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}


.tick {
    color: #06C;
}

.try {
    background-color: #06c;
    color: white;
    padding: 7px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    display: block;
    width: max-content;
    font-size: 20px;
}

.try:hover, .demo:hover {
    opacity: .9;
}

.left > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    column-gap: 20px;
}

.demo {
    background-color: #f1f1f1;
    color: #06c;
    padding: 7px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    display: block;
    width: max-content;
    font-size: 20px;
    cursor: pointer;
}

.img{
    width: 40%;
    height: auto;
}

.second {
    background-color: #f1f1f1;
    padding-top: 0px;
    padding-bottom: 100px;
}

.second > h1 {
    text-align: center;
    font-size: 40px;
}

.avantages {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding-top: 40px;
}

.svg {
    margin-bottom: -35px;
}

.avantages > h1 {
    width: 30%;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(64, 64, 64);
}

.second > h1 > b {
    color: #06c
}

.card{
    width: 20%;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
}


.card > h2 {
    margin: 0;
}

.card > p {
    color: grey;
}

.card > p > u {
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.mobileDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    column-gap: 100px;
}

.phone {
    width: 25%;
}

.step {
    color: black !important;
}

.left > h1 {
    font-size: 50px;
}

.pricingContainer {
    background-color: #171717;
    padding: 100px;
    padding-bottom: 0px;
}

.pricingContainer > h1 {
    text-align: center;
    font-size: 55px;
    margin: 0;
    margin-bottom: 80px;
    color: white;
}

.pricing {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    margin-bottom: 30px;
}

.pricing > div {
    width: 300px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.pricing > div > h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 40px;
}

.pricing > div > h2 {
    margin: 0;
    font-size: 50px;
    color: #06c;
}

.pricing > div > h2 > b {
    color: grey;
    font-size: 18px;
}

.pricing > div > p {
    line-height: 25px;
    color: silver;
}
.pricing > div > p > b {
    color: rgb(22, 22, 22);
}

.pricing > div > a {
    border:2px solid #06c;
    color: #06c;
    padding: 7px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    display: block;
    width: max-content;
    margin-top: 30px;
    font-size: 16px;
}

.pricing > div > a:hover {
    opacity: .7;
}

footer {
    padding-bottom: 40px;
    background-color: #171717;
}

footer > a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: rgb(214, 214, 214);
}


@media screen and (max-width: 1024px) {

    .container > header {
        justify-content: center;
        padding: 10px;
    }

    .container > header > img:hover{
        transform: none;
    }

    .popup {
        width: 90dvw;
        min-height: 80dvh;
        box-sizing: border-box;
    }

    .popup > div > div {
        max-width: 100%;
    }


    .first {
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .left {
        width: 100%;
        text-align: center;
    }

    .left > h1 {
        font-size: 45px;
    }

    .try, .demo {
        width: 100%;
    }

    .left > h1 {
        width: 80%;
        margin: auto;
    }

    .left > div {
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 70%;
        row-gap: 15px;
    }

    .img {
        width: 90%;
    }

    .second {
        padding-top: 50px;
    }


    .avantages {
        flex-direction: column;
        row-gap: 40px;
        margin-top: -7px;
    }

    .second > h1 {
        width: 85%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .mobileDiv {
        flex-direction: column-reverse;
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .step{
        justify-content: center;
    }

    .pricingContainer {
        padding-left: 0;
        padding-right: 0;
    }

    .pricingContainer > h1 {
        font-size: 40px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .pricing {
        flex-direction: column;
        row-gap: 30px;
        padding: 0;
    }

    .pricing > div {
        width: 80%;
        box-sizing: border-box;
        margin: auto;
        text-align: center;
    }

    .phone {
        width: 80%;
        margin-top: 30px;
    }

    .pricing > div > a {
        margin: auto;
        margin-top: 30px;
    }

}