.container {
    font-family: poppins;
    padding-top: 50px;
    padding-left: 100px;
    margin-bottom: 200px;
}

.infos{
    position: relative;
    margin-top: 20px;
}

.close {
    width: 20px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 120px;
    cursor: pointer;
}

.container > h1 {
    margin: 0;
    font-size: 50px;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}


.top > img {
    width: 200px;
    height: auto;
}

.right{
    align-items: center;
}


.right > p {
    color: white;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.right > p:hover {
    opacity: .9;
}

input:nth-child(2){
    width: 100px;
    margin-left: 10px;
}

input:nth-child(3) {
    width: 200px;
    margin-left: 10px;
}

.line > form, .line2 > form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:0;
}

.line > h2, .line2 > h2 {
    margin: 0
}


.line > form > p, .line2 > form > p {
    margin-left: 20px;
    cursor: pointer;
}

.aucun{
    color: grey;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
}


.liste {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    cursor: pointer;
    flex-wrap: wrap;
    margin-top: 50px;
}

.sections {
    margin-top: 0px;
    padding: 0;
}

.addLine {
    cursor: pointer;
    margin-left: 30px;
}

.sectionName{
    margin: 0;
}

.line2{
    display: flex;
    justify-content: space-between;
    border: 2px solid #f1f1f1;
    margin-top: 15px;
    padding: 10px;
    align-items: center;
    width: 90%;
    border-radius: 5px;
}

.line{
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    margin-top: 15px;
    padding: 10px;
    align-items: center;
    width: 90%;
    border-radius: 5px;
}

.line > p, .line2 > p {
    margin: 0
}

.edit{
    background-color: rgb(221, 175, 89);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    color: white;
}

.delete {
    background-color: rgb(214, 106, 106);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    color: white;
}

.right{
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}

.addLineStyle{
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.addLineStyle > p {
    margin-left: 25px;
    cursor: pointer;
}

.settings {
    background-color: white;
    position: absolute;
    width: 40%;
    right: 0;
    top: 0;
    height: 100dvh;
    z-index: 999;
    padding: 30px;
    animation: .3s slider forwards;
}

@keyframes slider {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

.settings > h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

.settings > form > input {
    width: 100%;
    box-sizing: border-box;
}

.settings > form > div > input {
    margin-left: 0;
}

.settings > form > div {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    column-gap: 10px;
}

.settings > form > div > p {
    color: white;
    background-color: rgb(214, 103, 103);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    margin: 0;
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 999;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}

.popup > h2 {
    text-align: center;
    margin:0;
    margin-top: 30px;
}

.popup > p {
    text-align: center;
    margin:0;
    margin-top: 10px;
    border: 2px solid #333;
    padding: 7px;
    cursor: pointer;
}

.popup > p:hover{
    background-color: #333;
    color: white;
}

.popup > form > div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    column-gap: 20px;
}


.popup > form > div > p {
    color: white;
    border: none;
    background-color: rgb(214, 103, 103);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.popup > form > div > p:hover {
    opacity: .9;
}


.popup > form > input {
    margin-top: 10px;
}

.popup > form > input[type="submit"] {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.shadow {
    background-color: #333;
    opacity: .3;
    z-index: 998;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    left: 0;
    top: 0;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #333;
}

.aucune{
    color: grey;
}