@font-face {
    font-family: poppins;
    src: url("../../fonts/Poppins-Regular.ttf");
}

.container {
    font-family: poppins;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 50px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top > h1 {
    margin: 0;
    font-size: 50px;
}

.top > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.top > div > p {
    color: white;
    background-color: rgb(208, 88, 88);
    width: max-content;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.install {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.top > div > p:hover {
    opacity: .9;
}

.coin {
    width: 30px;
    height: auto;
}

.settings {
    width: 20px;
    height: 20px;
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.admin {
    background-color: #F1F1F1 !important;
    color: black !important;
    text-decoration: none !important;
    padding: 7px;
    border-radius: 10px;
}

form{
    margin-top: 25px;
    margin-bottom: 20px;
}

input{
    width: 400px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

input[type="submit"] {
    width: 100px;
    margin-left: 20px;
    border: none;
    background-color: #06c;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover{
    opacity: .9;
}

h2 {
    margin-top: 50px;
}

.liste {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    cursor: pointer;
    flex-wrap: wrap;
}

.card{
    border: 2px solid black;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.card:hover{
    background-color: #fafafa;
}

.card > h2 {
    margin: 0;
}

.aucunDiv {
    margin-top: 150px;
}

.aucunDiv > img {
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aucunDiv > p {
    text-align: center;
    margin-top: 50px;
}

.aucun{
    color: silver;
    margin-top: 0px;
    font-style: italic;
}

.shadow {
    background-color: #333;
    opacity: .3;
    width: 100dvw;
    height: 100dvh;
    left: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.must {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100dvh;
    box-sizing: border-box;
    background-color: white;
    padding: 50px;
    z-index: 11;
    animation: .3s slider forwards;
}

@keyframes slider {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

.must > h2 {
    margin:0;
    font-size: 30px;
}

.must > p {
    background-color: #06c;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    margin: auto;
    color: white;
    cursor: pointer;
    width: 100%;
}

.infos {
    color: silver !important;
    background: none !important;
    width: 70% !important;
}

.resilier, .update{
    margin: 0;
    color: white;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.resilier:hover, .update:hover {
    opacity: .9;
}

.resilier{
    background-color: #e33d3d;
}

.update {
    background-color: #46ad1d;
}

.must > p:hover {
    opacity: .9;
}

.must > div {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 30px;
    row-gap: 20px;
}

.plan{
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.plan > div > h1 {
    margin: 0;
    color: #06c;
}

.plan > div > p {
    margin: 0;
    color: silver;
}

.plan > h2 {
    margin: 0;
    margin-top: 25px;
}

.selected  {
    background-color: #f4f4f4;
}

.formUpdate{
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

.formUpdate > input {
    display: block;
    width: 100% !important;
    margin: 0 !important;
    margin-top: 10px !important;
    box-sizing: border-box;
}

.formUpdate > input:last-of-type {
    margin-top: 20px !important;
}