@font-face {
    font-family: poppins;
    src: url("../../fonts/Poppins-Regular.ttf");
}

.container {
    font-family: poppins;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 50px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top > h1 {
    margin: 0;
    font-size: 50px;
}

.top > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.top > div > p {
    color: white;
    background-color: rgb(208, 88, 88);
    width: max-content;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.top > div > p:hover {
    opacity: .9;
}

.settings {
    width: 20px;
    height: 20px;
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

form{
    margin-top: 25px;
    margin-bottom: 20px;
}

input{
    width: 400px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

input[type="submit"] {
    width: 100px;
    margin-left: 20px;
    border: none;
    background-color: #06c;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover{
    opacity: .9;
}

h2 {
    margin-top: 50px;
}

.liste {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    cursor: pointer;
    flex-wrap: wrap;
}

.card{
    border: 2px solid black;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.card:hover{
    background-color: #fafafa;
}

.card > h2 {
    margin: 0;
}

.aucun{
    color: grey;
    margin-top: 0px;
    font-style: italic;
}

.shadow {
    background-color: #333;
    opacity: .3;
    width: 100dvw;
    height: 100dvh;
    left: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
}

.must {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.must > h2 {
    margin:0;
    text-align: center;
    color: #06c;
}

.must > p {
    text-align: center;
    background-color: #06c;
    padding: 7px;
    border-radius: 5px;
    width: max-content;
    display: block;
    margin: auto;
    color: white;
}

.must > p:hover {
    opacity: .9;
}

.must > div {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    column-gap: 20px;
    margin-top: -20px;
}

.plan{
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 20px;
    width: 220px;
}

.selected  {
    background-color: #f4f4f4;
}

.formUpdate{
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.formUpdate > input {
    display: block;
    width: 100% !important;
    margin: 0 !important;
    margin-top: 10px !important;
    box-sizing: border-box;
}