@font-face {
    font-family: montserrat;
    src: url("../../fonts/Montserrat-Regular.ttf");
}

.container {
    width: 100dvw;
    height: 100dvh;
    background: rgb(174,235,180);
    background: linear-gradient(267deg, rgb(111, 143, 175) 0%, #06c 100%);
    font-family: montserrat;
}

.container > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    width: 400px;
}

.container > div > h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}

.container > div > form > input {
    width: 90%;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 5px;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.container > div > form > input[type="submit"] {
    width: 90%;
    background-color: #06c;
    color: white;
    cursor: pointer;
    border: none;
}

.container > div > form > input[type="submit"]:hover {
    opacity: .9;
}

.container > div > a {
    display: block;
    text-align: center;
    color: black;
    margin-top: 10px;
    text-decoration: none;
}

.container > div > a:hover {
    text-decoration: underline;
}

.plan {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border: 2px solid silver;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.selected {
    background-color: #f1f1f1;
}

.plan > div > h3 {
    margin: 0;
}

.plan > div > p{
    margin: 0;
    color: silver;
}

.plan > h2 {
    text-align: center;
    margin: 0;
    color: #06c;
    margin-bottom: 10px;
    margin-top: 20px;
}

.plan > h2 > b {
    color: grey;
    font-size: 15px
}